a {
  color: var(--bs-primary);
  transition: $transition;
  text-decoration: none;

  &:hover {
    color: var(--vc-primary-hover);
  }
}


//this is used to add margin so that fixed top does not overlap content
.site-content {
  margin-top: $header-height;
}

.home {
  .site-content {
    margin-top: 0;
  }
}

@include media-breakpoint-up(xl) {
  //this is used to add margin so that fixed top does not overlap content
  .site-content {
    margin-top: $header-height-desktop;
  }
}