footer {
  color: var(--vc-footer_text_color);
  background-color: var(--vc-footer_background_color);
  font-size: 15px;

  a {
    color: var(--vc-footer_link_color);
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: var(--vc-footer_link_hover_color);
    }
  }

  > .widget-area {
    flex: 0 0 auto;
    width: 20%;
  }

  .tertiary-color {
    span {
      color: var(--bs-secondary);
    }
  }

  .social-links {
    padding-left: 0;
  }

  .menu {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;

    > li {
      display: block;
      padding: 0;
    }

  }
}

.site-footer {
  padding: 1rem 0;
}

.site-copyright {
  border-top: 1px solid #fff;
  padding: 1rem 0;
}

@include media-breakpoint-up(sm) {
  footer {
    padding-top: 3.5rem;
  }
  .site-footer {
    display: flex;
    flex-wrap: wrap;
    margin-left: -3rem;
    margin-right: -3rem;
    padding-bottom: 3.5rem;

    > .widget-area {
      padding-left: 3rem;
      padding-right: 3rem;
      flex: 0 0 50%;
    }
  }
}


@include media-breakpoint-up(xl) {
  .site-footer {
    > .widget-area {
      flex: 1 0 20%;
    }
  }
}