.utility-bar {
  display: none;
  justify-content: space-between;
  align-items: center;
  max-width: 1610px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  p:empty {
    display: none;
  }

  .widget {
    display: inline-block;
  }

  .right {
    text-align: right;
  }

  a {
    color: var(--bs-secondary);
    padding: 1rem .5rem;
    display: inline-block;
    font-weight: bold;

    &:hover, &:focus, &:active {
      color: var(--bs-primary);
    }
  }

  ul.social-links {
    padding-left: 0;

    li {
      padding: 0;
    }
  }
}

.home {
  .utility-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    right: 0;

    a {
      color: #fff;

      &:hover, &:active, &:focus {
        color: var(--bs-primary);
      }
    }

    .social-links {
      a {
        color: var(--bs-secondary);
        margin-right: .6rem;

        &:hover, &:active, &:focus {
          color: var(--bs-primary);
        }
      }
    }

  }

}

@include media-breakpoint-up(xl) {
  .utility-bar {
    display: flex;
  }
}