.accordion-header {
  background-color: var(--bs-secondary);
  color: #fff;
  margin-bottom: 0;

  h5 {
    font-size: 1.5rem;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;

  }
}

.accordion-header.collapsed {
  background-color: var(--bs-secondary);
}

.wp-block-vc-blocks-accordion-item {
  margin-bottom: 2.5rem;

  .accordion-body {
    padding-top: 2rem;

  }

  .accordion-collapse {
    background-color: #F4F2EF;

  }
}