.btn-secondary, .btn-primary {
  color: #fff;
}


.wp-block-button__link.has-secondary-background-color, .btn-secondary {
  &:hover {
    color: #fff;
    background-color: var(--vc-secondary-hover);
  }
}

.wp-block-button__link.has-primary-background-color, .primary {
  &:hover {
    color: #fff;
    background-color: var(--vc-primary-hover);
  }
}

.wp-block-button__link.has-tertiary-background-color, .tertiary {
  &:hover {
    color: #fff;
    background-color: var(--vc-tertiary-hover);
  }
}

.wp-block-button__link.has-dark-background-color {
  &:hover {
    color: #fff;
    background-color: var(--bs-primary);
  }
}

.wp-block-button__link.has-white-background-color {
  &:hover {
    color: #fff;
    background-color: var(--bs-primary) !important;
  }
}

//outline buttons
.is-style-outline {
  > .wp-block-button__link.has-primary-color {
    color: var(--bs-primary);

    &:hover {
      color: #fff;
      background-color: var(--bs-primary);
    }
  }

  > .wp-block-button__link.has-secondary-color {
    color: var(--bs-secondary);

    &:hover {
      color: #fff;
      background-color: var(--bs-secondary);
    }
  }

  > .wp-block-button__link.has-tertiary-color {
    color: var(--bs-tertiary);

    &:hover {
      color: #fff;
      background-color: var(--bs-tertiary);
    }
  }

  > .wp-block-button__link.has-dark-color, > .wp-block-button__link.has-white-color {
    &:hover {
      background-color: #fff;
      color: var(--bs-primary) !important;
    }
  }
}