.vc-cards.inline-cards {
  .card {
    padding: 1rem;
  }

  > .row > .wp-block-vc-blocks-card {
    margin-bottom: 2rem;
  }

  .card-body {
    padding-bottom: 0;
  }
}

.vc-cards.with-hover {
  .card.activateOverlay {
    .has-white-color {
      > a, > u > a {
        color: #fff;
      }
    }

    .has-white-color > a:hover, .has-white-color > a:active, .has-white-color > a:focus {
      color: #cccccc;
    }

    .card-content {
      .card-body {
        padding: 1rem 0.8rem;
        top: calc(100% - 100px);
        transition: top 0.4s ease-in-out;
        height: 100%;
      }

      .backgroundOverlay {
        transition: all 0.4s ease-in-out;
      }
    }

    &:hover {
      .card-content {
        .backgroundOverlay {
          --overlayDimRatio: 0.8 !important;
        }

        .card-body {
          top: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .vc-cards.inline-cards {
    .card {
      flex-direction: row;
      border: 0;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 19px;
      height: 100%;
    }

    .wp-block-vc-blocks-card {

    }
  }
}