.cta {
  h2 {
    @extend .h3;
    font-family: $font-family-base;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 20px;

    &:before {
      display: none;
    }
  }

  .is-style-outline > .wp-block-button__link.has-white-color {
    &:hover, &:active, &:focus {
      background-color: var(--bs-tertiary);
    }

  }
}

@media (min-width: 768px) {
  .cta {
    h2 {
      margin-bottom: 0;
    }
  }
}