.site-content {
  .gform_title, .gform_required_legend {
    display: none;
  }

  .gform_wrapper.gravity-theme {
    max-width: 980px !important;
    .gform_fields {
      grid-row-gap: 2rem;
    }

    .ginput_full:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    .gfield_label, .ginput_complex label {
      font-size: 1rem;
      font-weight: normal;
      color: var(--bs-secondary);
      margin-bottom: 14px;
    }

    .gfield {
      input, textarea, select {
        border: 1px solid #ADADAD;
        padding: 0.6rem 1rem;
        background-color: #FFFFFFD9;
      }
    }
  }

  .gform_wrapper .gfield_required {
    color: #fff;
  }

  .gform_body {
    margin-bottom: 30px;
  }

  //submit button
  .gform_button.button {
    color: #fff;
    background-color: var(--bs-dark);
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.125em;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    box-sizing: border-box;
    border: 0;
    margin-bottom: 0 !important;

    &:hover, &:active, &:focus {
      background-color: var(--bs-primary);
      transition: $transition;

    }
  }


  //top validation error message icon
  .gform_wrapper .gform_validation_errors > h2 .gform-icon {
    left: -38px;
  }

  //field error message {
  .gform_wrapper.gravity-theme .description,
  .gform_wrapper.gravity-theme .gfield_description,
  .gform_wrapper.gravity-theme .gsection_description,
  .gform_wrapper.gravity-theme .instruction {
    border: 0;
    background-color: transparent;
    padding: 0;
  }

  .gform_wrapper.gravity-theme {
    .gform_footer {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

}
