h2 {
  padding-top: 2rem;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    width: 39px;
    height: 31px;
    background-image: url("/wp-content/uploads/2022/02/small-paw.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

}

h2.has-text-align-center {
  &:before {
    left: 0 !important;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}