.has-primary-background-color {
  background-color: var(--bs-primary);
}

.has-secondary-background-color {
  background-color: var(--bs-secondary);
}

.has-tertiary-background-color {
  background-color: var(--bs-tertiary);
}

.has-dark-background-color {
  background-color: var(--bs-dark);
}

.has-white-background-color {
  background-color: var(--bs-white) !important;
}

.has-primary-color {
  color: var(--bs-primary);
}

.has-secondary-color {
  color: var(--bs-secondary);
}

.has-tertiary-color {
  color: var(--bs-tertiary);
}

.has-dark-color {
  color: var(--bs-dark);
}

.has-white-color {
  color: var(--bs-white) !important;
}
