//logo and branding
.navbar.main-navbar {
  .site-logo {
    img {
      width: $logo-width;
    }

    img.white-logo {
      display: none;
    }

    @include media-breakpoint-up(xl) {
      img {
        width: $logo-width-desktop;
      }
    }
  }
}

.navbar-wrap.scrolled {
  .navbar.main-navbar {
    .site-logo {
      .main-logo {
        display: none;
      }

      img.white-logo {
        display: block;
      }
    }
  }
}