// the nav and nav links
.navbar.main-navbar {
  .navbar-nav {
    font-weight: bold;
    align-items: center;

    li {
      padding: 0;
      display: block;
      width: 100%;
    }

    .nav-link {
      color: var(--vc-navigation_link_color);
      display: inline-block;

      &:hover {
        color: var(--vc-navigation_link_color_hover);
      }
    }


    .dropdown-toggle::after {
      position: absolute;
      right: 0;
      top: 1.2rem;
      font-size: 1.5rem;
    }

    .dropdown-menu {
      border: 0;
      padding: 0;
    }


    > .nav-item:last-child {
      .nav-link {
        color: var(--vc-navigation_link_store_color);

        &:hover {
          color: var(--vc-navigation_link_store_color_hover);
        }
      }
    }
  }

}

@include media-breakpoint-up(xl) {
  .navbar.main-navbar {
    .navbar-nav {
      .show > .nav-link, .nav-link.active {
        color: var(--vc-navigation_link_color_hover);
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 1rem;
          border: 1px solid var(--vc-navigation_link_color_hover);
          width: 27px;
          height: 0px;
        }
      }

      .dropdown-toggle::after {
        font-size: 1rem;
        position: static;
      }
    }
  }
  //.home {
  //  .navbar.main-navbar {
  //    .navbar-nav {
  //      .nav-link {
  //        color: #fff;
  //      }
  //
  //      > .nav-item:last-child {
  //        .nav-link {
  //          color: #fff;
  //        }
  //      }
  //
  //      .show > .nav-link, .nav-link.active {
  //        border-color: #fff;
  //      }
  //    }
  //  }
  //
  //  .navbar.main-navbar.scrolled {
  //    .navbar-nav {
  //      .nav-link {
  //        color: #4B4B4B;
  //
  //        &:hover {
  //          color: var(--bs-primary);
  //        }
  //      }
  //
  //      > .nav-item:last-child {
  //        .nav-link {
  //          color: var(--bs-secondary);
  //        }
  //      }
  //
  //      .show > .nav-link, .nav-link.active {
  //        border-color: #fff;
  //      }
  //    }
  //  }
  //
  //}
  .nav-item {
    &:hover {
      > .dropdown-menu {
        display: block;
      }
    }
  }

}

@include media-breakpoint-down(xl) {

}


@media (min-width: 1400px) {
  .navbar.main-navbar {
    .navbar-nav {
      font-size: 1.2rem;
    }
  }
}
