.navbar-wrap {

}

.navbar.main-navbar {
  background-color: var(--vc-navigation_bg_color);
  padding: 10px 1rem;

  &.scrolled {
    background-color: var(--vc-navigation_bg_color_scrolled);
  }
}

//.home {
//  .navbar.main-navbar {
//    background-color: var(--vc-navigation_bg_color);
//
//    .site-logo img {
//      display: none;
//    }
//
//    img.site-logo__white {
//      display: block;
//    }
//
//    &.scrolled {
//      background-color: var(--vc-navigation_bg_color_scrolled);
//
//      .site-logo img {
//        display: block;
//      }
//
//      img.site-logo__white {
//        display: none;
//      }
//    }
//  }
//}

.offcanvas {
  background-color: var(--vc-navigation_bg_color);

  .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }

  .dropdown-menu {
    background-color: var(--vc-navigation_dropdown_bg_color);
  }

  .dropdown-item {
    color: var(--vc-navigation_dropdown_link_color);

    &:hover, &:active, &:focus, &.active {
      background-color: var(--vc-navigation_dropdown_bg_color_hover);
      color: var(--vc-navigation_dropdown_link_color_hover);
    }
  }
}

.offcanvas-end {
  width: 320px;
}

.offcanvas.show {
  transform: translateX(0);
}


@include media-breakpoint-up(xl) {
  .navbar-wrap {
    max-width: 1610px;
    margin: 55px auto 0 auto;
    padding: 0 20px;
    transition: margin-top .2s ease-in-out;

  }
  .navbar.main-navbar {
    padding: 0;
    border-radius: 10px;

  }
  .navbar-wrap.scrolled {
    margin-top: 0;
  }

}

@include media-breakpoint-down(lg) {

  .home {
    .navbar.main-navbar {
      .site-logo img {
        display: block;
      }

      img.site-logo__white {
        display: none;
      }
    }
  }
}
