//big buttons in navbar
.big-button {
  .btn {
    font-weight: bold;
    background-color: var(--vc-navigation-button-bg-color);
    border-color: var(--vc-navigation-button-bg-color);
    color: var(--vc-navigation-button-text-color);

    &:hover, &:active, &:focus {
      background-color: var(--vc-navigation-button-bg-color-hover);
      border-color: var(--vc-navigation-button-bg-color-hover);
      color: var(--vc-navigation-button-text-color-hover);
    }
  }
}

@media (min-width: 1200px) {
  .big-button {
    .btn {
      font-size: 1.5rem;
      padding: 35px 20px;
      border-radius: 0 10px 10px 0;
      max-width: 266px;
      line-height: 1.2;
    }
  }
}
