.contact-info {
  text-align: center;
  box-shadow: 0px 3px 10px #27272729;
  border-radius: 21px;
  padding: 3rem 1rem 2rem 1rem;

  .wp-block-column > i {
    color: var(--bs-secondary);
    margin-bottom: 1rem;
    font-size: 2em;
  }

  p {
    margin-bottom: 10px;
  }

  .social-links {
    padding-left: 0;
    justify-content: center;
    margin-right: 0 !important;

    a {
      background-color: var(--bs-primary) !important;
      color: #fff;
    }

  }
}

@include media-breakpoint-up(xl) {
  .contact-info {
    .wp-block-column:nth-child(2) {
      flex: 0 0 20%;
    }
  }
}