.wp-block-cover.cover-gravity {
  border-radius: 24px;
  overflow: hidden;

  .ratio {
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
  }

}

.site-content {
  .wp-block-cover.cover-gravity {
    .gform_wrapper.gravity-theme .gfield_label,
    .gform_wrapper.gravity-theme .ginput_complex label {
      color: #fff;
    }
  }
}
