.wp-block-cover.cover-testimonial {
  padding: 0;

  .wp-block-cover__inner-container {
    max-width: 100%;
    width: 100%;
    img {
      
    }
  }

  .wp-block-columns {
    margin: 0;
  }

  .wp-block-image {
    margin: 0;
  }
}