.icon-columns {
  .wp-block-column {
    position: relative;

    > * {
      padding-left: 90px;
    }

    .wp-block-image {
      padding-left: 0;
      position: absolute;
      left: 0;
      top: 0;

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}