.vc-cards.news-cards {
  .card {
    box-shadow: 0 3px 6px #00000029;
    border-radius: 24px;
    overflow: hidden;
    border: 0;
    height: 100%;
  }

  .wp-block-vc-blocks-card {
    margin-bottom: 1rem;
  }
}