.top-buttons-mobile.wp-block-buttons {
  gap: 0;
  margin: 0 -1rem;
  align-items: flex-start;
  flex-wrap: nowrap;

  > .wp-block-button {
    display: flex;
    flex-grow: 1;
    margin: 0;
    width: 50%;
    min-height: 82px;

    > a {
      width: 100%;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}