.top-banner.wp-block-columns {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  margin-top: 30px;
  z-index: 1;
  position: relative;
  background-color: #fff;

  .wp-block-column {
    padding: 0.5rem 1rem;
  }

  .wp-block-column:last-child {
    border-right: 0;
  }

  .wp-block-image {
    .alignleft {
      margin-bottom: 60px;
      margin-top: 20px;

    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: 782px) {
  .top-banner.wp-block-columns {
    .wp-block-column {
      border-right: 1px solid #C9C9C9;
    }
  }
}

@include media-breakpoint-up(xl) {
  .top-banner.wp-block-columns {
    margin-top: -80px;
  }
}