.two-cards {
  .row {
    --bs-gutter-x: 0;
  }

  .card {
    border: 0;
    border-radius: 0;
    height: 100%;

    > img {
      min-height: 250px;
      object-fit: cover;
      object-position: center;
      min-width: 100%;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }


  .card.activateOverlay .card-content {
    position: static !important;
    display: flex;
    align-items: center;
  }

  .card-body {
    padding: 1rem 2rem;
    position: relative !important;

    > p {
      max-width: 400px;
    }

    a {
      color: #fff;

      &:hover, &:active, &:focus {
        color: var(--bs-secondary);
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .two-cards .card-body {
    padding: 3.4rem;
  }
}
