$primary: #0E6A37; //Dark green
$secondary: #CBB854; //Mustard
$tertiary: #B2CFA5; // Pale Green
$dark: #1A1A1A;
$light: #fff;

$transition: all .4s ease-in-out;

$grid-gutter-width: 2rem;

$border-radius: 10px;

//site header
$logo-width: 100px;
$logo-width-desktop: 180px;
$header-height: 55px;
$header-height-desktop: 41px;

// Navbar
$navbar-padding-y: 10px;
//$navbar-padding-x: 10px;
$navbar-nav-link-padding-x: 1rem;
$navbar-brand-padding-y: 0;
$navbar-dark-color: #fff;
$navbar-dark-toggler-border-color: #fff;

//Offcanvas

// Typography
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Baskervville', serif;
$font-size-base: 1rem; //16px
$font-size-sm: 1rem; //18px
$font-size-lg: 1rem; //18px


/*Headings*/
$headings-font-weight: bold;
//font sizes
$h1-font-size: 30px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;
$h1-font-size-xl: 50px;
$h2-font-size-xl: 40px;
$h3-font-size-xl: 30px;
$h4-font-size-xl: 24px;
$h5-font-size-xl: 20px;
$h6-font-size-xl: 16px;
$headings-margin-bottom: 1rem;


// Buttons
$btn-border-radius: 32px;

// Accordion
$accordion-bg: $primary;


//footer colors
$footerColor: #fff;
$footerBgColor: #333;
$footerFontSize: 15px;
$footerHeadingFontSize: 18px;
$footerCopyrightFontSize: 18px;

// Spacing
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .5,
        2: $spacer * 1,
        3: $spacer * 1.5,
        4: $spacer * 2,
        5: $spacer * 2.5,
        6: $spacer * 3,
        7: $spacer * 3.5,
        8: $spacer * 4,
);